@font-face {
  font-family: Vazir;
  font-weight: 100;
  src: url(./assets/fonts/Vazirmatn-Thin.ttf);
}
@font-face {
  font-family: Vazir;
  font-weight: 200;
  src: url(./assets/fonts/Vazirmatn-ExtraLight.ttf);
}
@font-face {
  font-family: Vazir;
  font-weight: 300;
  src: url(./assets/fonts/Vazirmatn-Light.ttf);
}
@font-face {
  font-family: Vazir;
  font-weight: 400;
  src: url(./assets/fonts/Vazirmatn-Regular.ttf);
}
@font-face {
  font-family: Vazir;
  font-weight: 500;
  src: url(./assets/fonts/Vazirmatn-Medium.ttf);
}
@font-face {
  font-family: Vazir;
  font-weight: 600;
  src: url(./assets/fonts/Vazirmatn-SemiBold.ttf);
}
@font-face {
  font-family: Vazir;
  font-weight: 700;
  src: url(./assets/fonts/Vazirmatn-Bold.ttf);
}
@font-face {
  font-family: Vazir;
  font-weight: 800;
  src: url(./assets/fonts/Vazirmatn-ExtraBold.ttf);
}
@font-face {
  font-family: Vazir;
  font-weight: 900;
  src: url(./assets/fonts/Vazirmatn-Black.ttf);
}
